#noCursor {
	pointer-events: none;
}

table {
	width: 50%;
	border-collapse: collapse;
	border-spacing: 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	border-radius:.75vh;
	-moz-border-radius:.75vh;
}

th, td {
	padding: 15px;
	background-color: rgba(36, 36, 36, 0.9);
	color: #fff;
}

td {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: .5em;
}

td:hover {
	background-color: rgba(100, 100, 100, 0.9);
	transition: background-color 0.5s, transform 0.5s;
}

th {
	text-align: left;
}

thead, th {
	background-color: rgb(20, 20, 20);
}