.timeline .button {
	width: 2.5vh;
	height: 2.5vh;
	margin-top: 6vh;
	border: .75vh solid rgba(255, 255, 255, .50);
	border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.timeline .button .title {
	font-size: 2vh;
	display: inline-block;
	padding:2vh;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 4vh;
	border-radius: 1vh;
	background-color: rgba(0,0,0, .5);
}

.timeline .button .icon {
	margin-left: 1.1vh;
	position: absolute;
	vertical-align: middle;
	line-height: 4vh;
	font-size: 3vh;
	pointer-events: none;
}

.timeline .button .text {
	position: absolute;
	opacity: 0;
	font-size: 2vh;
	display: inline-block;
	padding:2vh;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 4vh;
	margin-bottom: 4vh;
	pointer-events: none;
	border-top-right-radius: 1vh;
	border-bottom-left-radius: 1vh;
	border-bottom-right-radius: 1vh;
}

.timeline .button:hover {
	background-color: white;
}

.timeline .button:hover .title {
	cursor: default;
	transform: translate(0, -3.5vh);
	transition: transform  .25s ease-out, background-color .5s ease-out;
}

.timeline .button:hover .text {
	pointer-events:auto;
	cursor: default;
	opacity: 1;
	background-color: rgba(0,0,0, .5);
	transition: opacity .5s ease-out;
}