.timeline .container .button {
	align-content: center;
	height: 2vh;
	width: 2vh;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius:50%;
	-moz-border-radius:50%;
	margin: 1.5vh;
	-webkit-border-radius:50%;
}

.timeline .container {
	height: max-content;
	width: max-content;
	display: flex;
	margin-bottom: 6vh;
}

.timeline .container .content {
	opacity: .8;
	cursor: default;
	display: inline-block;
	white-space: nowrap;
	height: 3vh;
	margin-left: 2vh;
	padding: 1vh;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 1vh;
}

.timeline .container .content .title {
	border-radius: 1vh;
}

.timeline .container .content .text {
	font-size: 1.75vh;
	padding: 1vh;
	padding-top: 0;
	display: inline;
	display: inline-block;
	opacity: 0;
	transform: translate(-1vh, -1vh);
	background-color: rgba(0, 0, 0, .8);
	border-bottom-left-radius: 1vh;
	border-bottom-right-radius: 1vh;
}

.timeline .container:hover .button {
	background-color: rgb(255, 255, 255);
}

.timeline .container:hover .content .text {
	opacity: 1;
	transform: translate(-1vh, .95vh);
	transition: transform  .5s ease-out, opacity .5s ease-out;
}

.timeline .container:hover .content {
	opacity: 1;
	border-bottom-left-radius: 0;
	transition: border-bottom-left-radius .5s ease-out, opacity .5s ease-out;
}