.boxes {
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: #72F1B8;
	height: 200px;
	max-height: 35vh;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}

.grids {
	max-width: 50%;
	margin: auto;
}